body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.game-details {
  margin-bottom: 40px;
}

.interest {
  text-align: center;
}

#interest-form {
  margin-top: 40px;
  text-align: left;
}
